@tailwind base;
@tailwind utilities;
@tailwind components;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.back {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url(../src/assets/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}